node_modules
.next
.git
.gitignore

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
docker-compose.yaml
docker-compose*.yml
docker-compose*.yaml

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
